# URLs Públicas de los 4 Microservicios 
NEXT_PUBLIC_API_USERS_URL=""
NEXT_PUBLIC_API_WORKSPACES_URL="https://insightflow-workspaces.onrender.com/api"
NEXT_PUBLIC_API_DOCUMENTS_URL="https://insightflow-documents-y31i.onrender.com/documents"
NEXT_PUBLIC_API_TASKS_URL="http://localhost:3000/api/v1/"

NEXT_PUBLIC_TEST_USER_ID="d084f70c-238d-44a3-a7d0-1a7795325c34"